.app-header {
    background-color: $dark-teal;
    color: $whiteish;
    padding: 10px;
    height: 8vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    span {
        font-size: 1.5rem;
        font-weight: 700;
    }

    nav {
        font-size: .8em;
        padding: 5px;
        display: flex;
    }
    
    nav a {
        color: $clr6;
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr6;
    }
}