// Colors
$clr1: #6096B4;
$clr2: #BDCDD6;
$clr3: #93BFCF;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #EEE9DA;
$clr7: #fefefe;
$clr8: #222;
$clr9: #313131;

$dark-blue:#026E81;
$bright-blue:#0099DD;
$aqua:#A1C7E0;
$dark-teal:#00ABBD;
$orange:#FF9933;
$whiteish:#f1f4f6;
$blackish:#313131;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;